    /*
    * Prefixed by https://autoprefixer.github.io
    * PostCSS: v8.4.14,
    * Autoprefixer: v10.4.7
    * Browsers: last 4 version
    */

    /*
    * Prefixed by https://autoprefixer.github.io
    * PostCSS: v8.4.14,
    * Autoprefixer: v10.4.7
    * Browsers: last 4 version
    */

    /* css reset: http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */

    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    /* HTML5 display-role reset for older browsers */
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol,
    ul {
        list-style: none;
    }

    blockquote,
    q {
        quotes: none;
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }

    /*end of css reset*/    

    body {
        font-family: "Lato", sans-serif;
        background-color: #D3D9D8;
        border-color: #8C1D14;
    }

    .topnav {
        overflow: hidden;
        background-color: #D3D9D8;
        position: relative;
        border: 4px solid #8C1D14;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 50px;
        display: block;
        background-color: #8C1D14;
      }
      
      .topnav a.icon {
        background: #8C1D14;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #E06666;
        color: black;
      }
      
      .active {
        color: white;
      }

    .logo {
        background-image: url(../images/project-imgs/sushi-logo.png);
        height: 5rem;
        width: 11rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #8C1D14;
    }

    footer {
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center; /* Center text horizontally */
      background-color:#8C1D14;
      left: 0;
      bottom: 0;
      position: fixed;
      width: 100%;
  }

  footer div {
      display: flex;
  }

  footer a {
      margin: 0 10px; /* Adjust the margin as needed */
      text-decoration: none;
      padding-left: 40px;
      padding-right: 40px;
      color: white; /* Adjust the color as needed */
  }

   footer a:hover {
    color: black;
    text-decoration: none;
   }